.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #002374;
  /* background-image: url('../components/pages/images/legos.jpg'); */
  /* background-size:cover ; */
  /* background-position: center; */
  /* height: 25vh; */

}

.logo-box {
  display: flex;
}

.header h1 {

}

.textbox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
